<div class="container">
  <div >
    <img class="img-fluid"  alt="Responsive image"  src="assets/img/flor.jpg">
  </div>
</div>

<div class="row">
  <div class="col-md-8">.
      <div >
        <table class="tabla1">
          <tr class="superior">
              <td colspan="4">DATOS PERSONALES</td>
          </tr>
          <tr class="margen">
              <td colspan="2" style="border-right: hidden">Nombre completo del solicitante:
              <td colspan="2" style="border-left: hidden">Diana Lysete Basilio Evangelista</td>
          </tr>
          <tr class="ancho">
            <td colspan="2"></td>
            <td colspan="2"></td>
            </tr>
            <tr class="fondo">
                <td>23 años </td>
                <td> Soltera </td>
                <td> Mujer </td>
            </tr>
            <tr class="ancho">
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
        </table>
        <br>
        <br>
        <table class="tabla1">
          <tr class="superior">
              <td colspan="4">DATOS ACADEMICOS</td>
          </tr>
          <tr class="margen">
              <td colspan="2" style="border-right: hidden">Universidad tecnologica del centro de veracruz
              <td colspan="2" style="border-left: hidden">Curso actual: Universidad tecnologica del centro de veracruz</td>
          </tr>
          <tr class="ancho">
            <td colspan="2"></td>
            <td colspan="2"></td>
            </tr>
            <tr class="fondo">
                <td>Titulo: TSU</td>
                <td>Desarrollo de Software Multiplataforma</td>
                <td>Curso actual:</td>
                <td>Ing. Desarrollo y Gestión de software</td>
            </tr>
            <tr class="ancho">
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
        </table>
        <br>
      <br>

    <table class="tabla1">
      <tr class="superior">
          <td colspan="4">EXPERIENCIA PROFESIONAL</td>
      </tr>
      <tr class="margen">
        <td colspan="2" style="border-right: hidden">Estadias:
          <td colspan="2" style="border-left: hidden">Empresa TIUSA</td>
      </tr>
      <tr class="ancho">
        <td colspan="2"></td>
        <td colspan="2"></td>
        </tr>
        <tr class="fondo">
            <td>Cuatrimestre:</td>
            <td>5</td>
            <td>Año:</td>
            <td>2020</td>
        </tr>
        <tr class="ancho">
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
    </table>
    <br>
      <br>

      <table class="tabla1">
        <tr class="superior">
            <td colspan="4">APTITUDES/HABILIDADES</td>
        </tr>
        <tr class="margen">
            <td colspan="2" style="border-right: hidden">Aptitudes
            <td colspan="2" style="border-left: hidden">Habilidades</td>
        </tr>
        <tr class="ancho">
        <td colspan="2"></td>
        <td colspan="2"></td>
        </tr>
        <tr class="fondo">
            <td>Honestidad</td>
            <td>Compromiso</td>
            <td>Creatividad</td>
            <td>Buen control de estres</td>
        </tr>
        <tr class="ancho">
          <td colspan="2"></td>
          <td colspan="2"></td>
      </tr>
  </table>
    
  <br>
  <br>

    </div>
</div>
<h1></h1>
<div class="col-md-4">
  <img class="img-fluid"  alt="Responsive image"  src="assets/img/day.png">
</div>
</div>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-secondary" [containerInside]="false">
  <mdb-navbar-brand>  <img class="img-fluid"   ></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
    </ul>
  </links>
</mdb-navbar>
