<div class="container">
  <div >
    <img class="img-fluid"  alt="Responsive image"  src="assets/img/flor.jpg">
  </div>
</div>

<div class="row">
  <div class="col-md-8">.
      <div >
        <table class="tabla1">
          <tr class="superior">
              <td colspan="4">DATOS PERSONALES</td>
          </tr>
          <tr class="margen">
              <td colspan="2" style="border-right: hidden">Nombre completo del solicitante:
              <td colspan="2" style="border-left: hidden">Diana Lysete Basilio Evangelista</td>
          </tr>