<div class="container">
  <div >
    <img class="img-fluid"  alt="Responsive image"  src="assets/img/flor.jpg">
  </div>
</div>

<div class="row">
  <div class="col-md-8">.
      <div >
        <table class="tabla1">
          <tr class="superior">
              <td colspan="4">DATOS PERSONALES</td>
          </tr>
          <tr class="margen">
              <td colspan="2" style="border-right: hidden">Nombre completo del solicitante:
              <td colspan="2" style="border-left: hidden">Diana Lysete Basilio Evangelista</td>
          </tr>
          <tr class="ancho">
            <td colspan="2"></td>
            <td colspan="2"></td>
            </tr>
            <tr class="fondo">
                <td>23 años </td>
                <td> Soltera </td>
                <td> Mujer </td>
            </tr>
            <tr class="ancho">
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
        </table>
        <br>
        <br>
        <table class="tabla1">
          <tr class="superior">
              <td colspan="4">DATOS ACADEMICOS</td>
          </tr>
          <tr class="margen">
              <td colspan="2" style="border-right: hidden">Universidad tecnologica del centro de veracruz
              <td colspan="2" style="border-left: hidden">Curso actual: Universidad tecnologica del centro de veracruz</td>
          </tr>
          <tr class="ancho">
            <td colspan="2"></td>
            <td colspan="2"></td>
            </tr>
            <tr class="fondo">
                <td>Titulo: TSU</td>
                <td>Desarrollo de Software Multiplataforma</td>
                <td>Curso actual:</td>
                <td>Ing. Desarrollo y Gestión de software</td>
            </tr>
            <tr class="ancho">
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
        </table>